.popularServices{
    margin: 4rem 6rem;
}

.popularServices h1{
    font-size: 3rem;
}

.first-service{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

/*For the second section of PopularServices (reverse img and text horizontal)*/
.second-service{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.first-service-desc-text{
    width:  45%;
    text-align: start;
    font-size: 1.1rem;
}

.first-service-desc-text h2{
    padding-bottom: 1rem;
}

.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.image img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0,0,0,0.19);
}

/*apply the style to the second image*/
.image img:nth-child(2){
    position: absolute;
    top: -10%;
    right:0;
}


/*mobile design*/
@media screen and (max-width: 1175px){
    .popularServices{
        margin: 4rem 2rem;
    }
    
    .first-service{
        display: flex;
        /*make the text display below the img*/
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }

    .second-service{
        display: flex;
        /*make the text display below the img*/
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }

    .first-service-desc-text{
        width:100%
    }

    /*make the image bigger in mobile*/
    .image{
        width: 100%;
        margin: 1.8rem 0;
    }

    .image img{
        height: 250px;
    }
}